.main-h1 {
    color: var(--color-first);
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 50px;
    font-weight: bold;
}

.dot {
    color: var(--color-second);
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    font-size: 50px;
    font-weight: bold;
}

.main-h1.-title {
    font-style:normal;
    margin-top: 15px;
}

.main-h1.-footer-codar {
    color: var(--color-third);
    margin-top: 100px;    
    margin-bottom: 30px;
}

